.person-header {
    height: 12.916666667rem;
    width: 100%;
    background: url('./imgs/top_bg.jpg') no-repeat;
    background-size: 100%;
}
.em .person-header  {
    background: url('./img_v2s/top_bg.jpg') no-repeat;
}

.person-header .header-top-bar {
    padding-top: 2.750000000rem;
    text-align: center;
    font-size: 1.6666666666666667rem;
    position: relative
}

.person-header .header-top-bar .header-top-bar-title {
    color: #fff;
    font-size: 1.5rem;
}

.person-header .header-top-bar .header-top-bar-setting{
    display: inline-block;
    width: 1.708333333rem;
    height: 1.666666667rem;
    background: url('./imgs/icon-setting.png') no-repeat center;
    background-size: 100%;
    white-space: nowrap;
    letter-spacing: -1em;
    text-indent: -99em;
    color: transparent;
    position: absolute;
    right: 0.916666667rem;
}
.em 
.person-header .header-top-bar .header-top-bar-setting {
    background: url('./img_v2s/icon-setting.png') no-repeat center;
}


.person-header .header-top-bar .header-top-bar-setting:before {
    content: '\3000';
}

.person-header .header-middle-button {
    text-align: center;
    background: rgba(255,255,255, .2);
    width: 8.250000000rem;
    height: 2.416666667rem;
    border: 0.083333333rem solid #e5feff;
    line-height: 2.500000000rem;
    font-size: 1.1666666666666667rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 2.500000000rem;
    border-radius: 0.166666667rem;
}

.person-header .header-top-bar {
    
}